@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url(bootstrap/bootstrap.css);
.wrapper {
  width: 100%; }

.bg-main {
  background: url("images/bg-main.png") no-repeat;
  background-size: cover;
  height: 752px;
  position: relative; }
  .bg-main .container-header {
    width: 100%;
    background-color: #f9f8f5;
    line-height: 2.4em; }
    .bg-main .container-header .row-my {
      margin-left: 16px; }
      .bg-main .container-header .row-my .logo {
        text-align: right;
        padding: 10px 0 0 10px; }
      .bg-main .container-header .row-my .nav-my {
        position: static; }
        .bg-main .container-header .row-my .nav-my .dropdown-my {
          position: static;
          bacground-color: #f9f8f5; }
      .bg-main .container-header .row-my .menu-link1:hover {
        color: #f9f8f5;
        background-color: #00abbc;
        border-radius: 0px; }
      .bg-main .container-header .row-my .arrow {
        color: #f9f8f5;
        position: absolute; }
      .bg-main .container-header .row-my .menu-link1:hover > .arrow {
        color: #00abbc;
        position: absolute;
        top: 13px;
        left: 48px; }
      .bg-main .container-header .row-my .menu-link1 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #494748;
        text-align: right;
        line-height: 2em;
        padding: 0 12px 0 12px;
        margin: 8px -6px 8px 13px;
        position: relative; }
      .bg-main .container-header .row-my .menu-link2:hover > .arrow {
        left: 33px; }
      .bg-main .container-header .row-my .menu-link2 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #494748;
        text-align: right;
        line-height: 2em;
        padding: 0 12px 0 12px;
        margin: 8px -6px 8px 13px;
        position: relative; }
      .bg-main .container-header .row-my .menu-link3:hover > .arrow, .bg-main .container-header .row-my .menu-link4:hover > .arrow {
        left: 28px; }
      .bg-main .container-header .row-my .telephone-link {
        margin-left: 95px; }
      .bg-main .container-header .row-my .li-blue {
        margin: -6px 14px 2px 22px;
        background-color: #f9f8f5; }
      .bg-main .container-header .row-my .border {
        border: 1px solid #00abbc;
        border-radius: 0;
        color: #00abbc;
        padding: 5px 7px 5px 8px; }
      .bg-main .container-header .row-my ul {
        padding-top: 9px;
        margin: 0 0 0 -2px; }
  .bg-main .dropdown:hover > .dropdown-menu {
    display: block;
    width: 101%;
    position: absolute;
    top: 48px;
    border-radius: 0;
    border: none;
    background-color: #f9f8f5;
    padding-left: 13%; }
  .bg-main .dropdown-1, .bg-main .dropdown-2 {
    display: inline-block;
    list-style-type: none;
    padding-right: 5%;
    border-right: 1px solid #dbdbdb; }
    .bg-main .dropdown-1 .h-list, .bg-main .dropdown-2 .h-list {
      font-size: 18px;
      font-weight: 700;
      padding-bottom: 15%; }
    .bg-main .dropdown-1 a, .bg-main .dropdown-2 a {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 12px;
      text-decoration: none;
      color: #494748; }
    .bg-main .dropdown-1 a:hover, .bg-main .dropdown-2 a:hover {
      color: #00abbc;
      text-decoration: none; }

.body {
  width: 100%; }

.container-my {
  padding: 0 0 0 0; }

/*# sourceMappingURL=style.css.map */
