@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url(css/bootstrap.css);
.wrapper {
  width: 100%; }

.bg-main {
  background: url("images/bg-main.png") no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
  background-position: 0px 25px; }
  .bg-main .container-header {
    width: 100%;
    background-color: #f9f8f5;
    line-height: 2.4em; }
    .bg-main .container-header .row-my {
      margin-left: 16px; }
      .bg-main .container-header .row-my .logo {
        text-align: right;
        padding: 10px 0 0 10px;
        float: left; }
      .bg-main .container-header .row-my .nav-my {
        position: static; }
        .bg-main .container-header .row-my .nav-my .dropdown-my, .bg-main .container-header .row-my .nav-my .dropdown-form {
          position: static;
          bacground-color: #f9f8f5; }
      .bg-main .container-header .row-my .menu-link1:hover {
        color: #f9f8f5;
        background-color: #00abbc;
        border-radius: 0px; }
      .bg-main .container-header .row-my .arrow {
        color: #f9f8f5;
        position: absolute; }
      .bg-main .container-header .row-my .menu-link1:hover > .arrow {
        color: #00abbc;
        position: absolute;
        top: 13px;
        left: 48px; }
      .bg-main .container-header .row-my .menu-link1 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #494748;
        text-align: right;
        line-height: 2em;
        padding: 0 12px 0 12px;
        margin: 8px -6px 8px 13px;
        position: relative; }
      .bg-main .container-header .row-my .menu-link2:hover > .arrow {
        left: 33px; }
      .bg-main .container-header .row-my .menu-link2 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 11px;
        color: #494748;
        text-align: right;
        line-height: 2em;
        padding: 0 12px 0 12px;
        margin: 8px -6px 8px 13px;
        position: relative; }
      .bg-main .container-header .row-my .menu-link3:hover > .arrow, .bg-main .container-header .row-my .menu-link4:hover > .arrow {
        left: 28px; }
      .bg-main .container-header .row-my .telephone-link {
        margin-left: 95px; }
      .bg-main .container-header .row-my .li-blue {
        margin: -6px 14px 2px 22px;
        background-color: #f9f8f5; }
      .bg-main .container-header .row-my .border {
        border: 1px solid #00abbc;
        border-radius: 0;
        color: #00abbc;
        padding: 5px 7px 5px 8px; }
      .bg-main .container-header .row-my ul {
        padding-top: 9px;
        margin: 0 0 0 -2px; }
      .bg-main .container-header .row-my .login-box {
        padding: 0%; }
      .bg-main .container-header .row-my .panel {
        padding-left: 16px;
        bacground-color: #f9f8f5;
        border-radius: 0; }
      .bg-main .container-header .row-my .panel-body {
        text-align: -webkit-center;
        margin: 0;
        padding: 7px 0 0 15px; }
      .bg-main .container-header .row-my .div-form-wrapper {
        position: absolute;
        right: 2.5%;
        top: 100%; }
      .bg-main .container-header .row-my .form-my {
        border-left: 0;
        border-radius: 0px;
        box-shadow: 0 0;
        border: none; }
      .bg-main .container-header .row-my .input-group-my {
        border: 1px solid #000;
        max-width: 130px;
        min-height: 25px;
        margin-bottom: 7px; }
        .bg-main .container-header .row-my .input-group-my .input-text {
          border-radius: 0px;
          box-shadow: 0 0;
          border: none;
          padding: 0;
          height: 23px;
          font-family: Lato Regular;
          font-size: 11px; }
        .bg-main .container-header .row-my .input-group-my .input-group-addon-my {
          border-right: 0;
          background-color: white;
          padding: 0 5px 0 6px;
          border-radius: 0px;
          box-shadow: 0 0;
          border: none; }
          .bg-main .container-header .row-my .input-group-my .input-group-addon-my .glyphicon-user-my, .bg-main .container-header .row-my .input-group-my .input-group-addon-my .glyphicon-lock-my {
            border: none;
            color: #747070; }
      .bg-main .container-header .row-my .div-button-acesso {
        text-align: center;
        width: 60%; }
      .bg-main .container-header .row-my .checkbox-div {
        padding: 0;
        line-height: 1.7em;
        display: inline-block;
        text-align: -webkit-right; }
      .bg-main .container-header .row-my .div-link-form {
        display: inline-block;
        padding: 0 0 0 0px;
        line-height: 1.4em; }
      .bg-main .container-header .row-my .checkbox-my, .bg-main .container-header .row-my .link-form {
        color: #504b4b;
        font-family: 'Lato lightItalic', sans-serif;
        font-size: 8px;
        margin: 0; }
      .bg-main .container-header .row-my .link-form {
        text-decoration: underline; }
      .bg-main .container-header .row-my .button-acesso {
        background-color: #00abbc;
        border: none;
        border-radius: 0px;
        width: 100%;
        min-height: 25px;
        padding: 0; }
      .bg-main .container-header .row-my .link-check-in {
        font-family: "Lato lightItalic", sans-serif;
        font-size: 8px;
        color: #00abbc;
        padding: 0;
        text-align: center;
        text-decoration: underline; }
      .bg-main .container-header .row-my .dropdown:hover > .dropdown-menu {
        display: block;
        width: 100%;
        position: absolute;
        top: 48px;
        left: 2px;
        border-radius: 0px;
        box-shadow: 0 0;
        border: none;
        background-color: #f9f8f5;
        padding-left: 13%; }
      .bg-main .container-header .row-my .dropdown-1, .bg-main .container-header .row-my .dropdown-2 {
        display: inline-block;
        list-style-type: none;
        padding-right: 5%;
        border-right: 1px solid #dbdbdb; }
        .bg-main .container-header .row-my .dropdown-1 .h-list, .bg-main .container-header .row-my .dropdown-2 .h-list {
          font-size: 18px;
          font-weight: 700;
          padding-bottom: 15%; }
        .bg-main .container-header .row-my .dropdown-1 a, .bg-main .container-header .row-my .dropdown-2 a {
          font-family: 'Lato', sans-serif;
          font-weight: 400;
          font-size: 12px;
          text-decoration: none;
          color: #494748; }
        .bg-main .container-header .row-my .dropdown-1 a:hover, .bg-main .container-header .row-my .dropdown-2 a:hover {
          color: #00abbc;
          text-decoration: none; }
  .bg-main .text-on-bg {
    margin: 183px 0 0 182px; }
    .bg-main .text-on-bg .h-1-bg {
      font-family: 'Lato Bold', sans-serif;
      font-weight: 700;
      font-size: 15px;
      color: #0000; }
    .bg-main .text-on-bg .h-2-bg {
      font-family: "Lato Light", fantasy;
      font-weight: 400;
      font-size: 30px;
      color: #f9f8f5; }
    .bg-main .text-on-bg .text-1-bg {
      font-family: 'Lato Light',sans-serif;
      font-size: 13px;
      color: #f9f8f5;
      line-height: 24px;
      padding: 23px 0 0 0; }
    .bg-main .text-on-bg .text-2-bg {
      font-family: 'Lato Bold',sans-serif;
      font-size: 10px;
      font-weight: 700;
      color: #000;
      text-indent: 58px;
      padding: 17px 0 0 0; }
    .bg-main .text-on-bg .button-bg-main {
      font-family: 'Lato Light', sans-serif;
      font-size: 11px;
      color: #f9f8f5;
      background-color: transparent;
      border: 1px solid #f9f8f5;
      min-height: 40px;
      margin: 26px 0 0 3px;
      width: 12.9%; }
    .bg-main .text-on-bg .button-bg-main:hover {
      background-color: #f9f8f5;
      color: #a90d29; }

.container-my {
  padding: 0 0 0 0; }

.div-sprites {
  background-color: #ededed;
  text-align: -webkit-center; }
  .div-sprites .mobly {
    background: url("images/mobly.png") 0 no-repeat;
    margin: 8px 80px 0 40px; }
  .div-sprites .mobly:hover {
    background: url("images/mobly-hover.png") 0 no-repeat;
    margin: 8px 80px 0 40px; }
  .div-sprites .marabaz {
    background: url("images/marab.png") 0 no-repeat;
    margin: 8px 80px 0 40px; }
  .div-sprites .marabaz:hover {
    background: url("images/marab-hover.png") 0 no-repeat;
    margin: 8px 80px 0 40px; }
  .div-sprites .arezzo {
    background: url("images/arezzo.png") 0 no-repeat;
    margin: 8px 80px 0 40px; }
  .div-sprites .arezzo:hover {
    background: url("images/arezzo-hover.png") 0 no-repeat;
    margin: 8px 80px 0 40px; }
  .div-sprites .vivara {
    background: url("images/vivara.png") 0 no-repeat;
    margin: 8px 80px 0 40px; }
  .div-sprites .aquestir {
    background: url("images/ovestir.png") 0 no-repeat;
    margin: 8px 80px 0 40px; }
  .div-sprites .staples {
    background: url("images/staples.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .staples:hover {
    background: url("images/staples-hover.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .farma {
    background: url("images/ultra.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .farma:hover {
    background: url("images/ultra-hover.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .fast {
    background: url("images/fast.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .fast:hover {
    background: url("images/fast-hover.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .xiomi {
    background: url("images/xiomi.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .xiomi:hover {
    background: url("images/xiomi-hover.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .enjoei {
    background: url("images/enjoi.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .enjoei:hover {
    background: url("images/enjoi-hover.png") 0 no-repeat;
    margin: 28px 80px 0 40px; }
  .div-sprites .icon {
    height: 95px;
    width: 140px;
    display: inline-block;
    text-align: center;
    vertical-align: middle; }
  .div-sprites .icon:hover {
    background-repeat: no-repeat; }
  .div-sprites .text-sprites {
    font-family: 'Lato Light', sans-serif;
    font-size: 12px;
    color: #bbbbbb;
    margin: 50px 0 30px 0; }

.block-squares {
  text-align: center; }
  .block-squares .text-h {
    font-family: 'Lato Bold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #444242; }
  .block-squares .text {
    font-family: "Lato Regular", sans-serif;
    font-size: 14px;
    color: #444242; }

/*# sourceMappingURL=style.css.map */
