@mixin menuLinkStyle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #494748;
  text-align: right;
  line-height: 2em;
  padding: 0 12px 0 12px;
  margin: 8px -6px 8px 13px;
  position: relative;
}
@mixin linkDrop {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
}
@mixin borderNone{
  border-radius: 0px;
  box-shadow: 0 0;
  border: none;
}

.wrapper {
  width: 100%;
}
.bg-main {
  background: url("images/bg-main.png") no-repeat;
  background-size: cover;
  height: 750px;
  position: relative;
  background-position: 0px 25px;
  .container-header {
    width: 100%;
    background-color: #f9f8f5;
    line-height: 2.4em;
    .row-my {
      margin-left: 16px;
      .logo {
        text-align: right;
        padding: 10px 0 0 10px;
        float: left;
      }
      .nav-my {
        position: static;
        .dropdown-my,.dropdown-form {
          position: static;
          bacground-color: #f9f8f5;
        }

      }
      .menu-link1:hover {
        color: #f9f8f5;
        background-color: #00abbc;
        border-radius: 0px;
      }
      .arrow {
        color: #f9f8f5;
        position: absolute;
      }
      .menu-link1:hover > .arrow {
        color: #00abbc;
        position: absolute;
        top: 13px;
        left: 48px;
      }
      .menu-link1 {
        @include menuLinkStyle;
      }
      .menu-link2:hover > .arrow {
        left: 33px;
      }
      .menu-link2 {
        @include menuLinkStyle;
      }
      .menu-link3:hover > .arrow, .menu-link4:hover > .arrow {
        left: 28px;
      }
      .telephone-link {
        margin-left: 95px;
      }
      .li-blue {
        margin: -6px 14px 2px 22px;
        background-color: #f9f8f5;
      }
      .border {
        border: 1px solid #00abbc;
        border-radius: 0;
        color: #00abbc;
        padding: 5px 7px 5px 8px;
      }
      ul {
        padding-top: 9px;
        margin: 0 0 0 -2px;
      }

      .login-box {
        padding: 0%;
      }
      .panel {
        padding-left: 16px;
        bacground-color: #f9f8f5;
        border-radius: 0;
      }
      .panel-body {
        text-align: -webkit-center;
        margin: 0;
        padding: 7px 0 0 15px;
      }
      .div-form-wrapper {
        position: absolute;
        right: 2.5%;
        top: 100%;
      }
      .form-my {
        border-left: 0;
        @include borderNone;
      }
      .input-group-my {
        border: 1px solid #000;
        max-width: 130px;
        min-height: 25px;
        margin-bottom: 7px;
        .input-text {
          @include borderNone;
          padding: 0;
          height: 23px;
          font-family: Lato Regular;
          font-size: 11px;
        }
        .input-group-addon-my {
          border-right: 0;
          background-color: white;
          padding: 0 5px 0 6px;
          @include borderNone;
          .glyphicon-user-my, .glyphicon-lock-my {
            border: none;
            color: #747070;
          }
        }
      }
      .div-button-acesso {
        text-align: center;
        width: 60%;
      }
      .checkbox-div {
        padding: 0;
        line-height: 1.7em;
        display: inline-block;
        text-align: -webkit-right;
      }
      .div-link-form {
        display: inline-block;
        padding: 0 0 0 0px;
        line-height: 1.4em;
      }
      .checkbox-my, .link-form {
        color: #504b4b;
        font-family: 'Lato lightItalic', sans-serif;
        font-size: 8px;
        margin: 0;
      }
      .link-form {
        text-decoration: underline;
      }
      .button-acesso {
        background-color: #00abbc;
        border: none;
        border-radius: 0px;
        width: 100%;
        min-height: 25px;
        padding: 0;
      }
      .link-check-in {
        font-family: "Lato lightItalic", sans-serif;
        font-size: 8px;
        color: #00abbc;
        padding: 0;
        text-align: center;
        text-decoration: underline;
      }
      .dropdown:hover > .dropdown-menu {
        display: block;
        width: 100%;
        position: absolute;
        top: 48px;
        left:2px;
        @include borderNone;
        background-color: #f9f8f5;
        padding-left: 13%;
      }
      .dropdown-1, .dropdown-2 {
        display: inline-block;
        list-style-type: none;
        padding-right: 5%;
        border-right: 1px solid #dbdbdb;
        .h-list {
          font-size: 18px;
          font-weight: 700;
          padding-bottom: 15%;
        }
        a {
          @include linkDrop;
          color: #494748;
        }
        a:hover {
          color: #00abbc;
          text-decoration: none;
        }
      }
    }
  }
  .text-on-bg{
    margin: 183px 0 0 182px;

    .h-1-bg {
      font-family: 'Lato Bold', sans-serif;
      font-weight: 700;
      font-size: 15px;
      color: #0000;
    }
    .h-2-bg{
      font-family: 'Lato Light',fantasy ;
      font-weight: 400;
      font-size: 30px;
      color: #f9f8f5;
    }
    .text-1-bg{
      font-family: 'Lato Light',sans-serif;
      font-size: 13px;
      color: #f9f8f5;
      line-height: 24px;
      padding: 23px 0 0 0;
    }
    .text-2-bg{
      font-family: 'Lato Bold',sans-serif;
      font-size: 10px;
      font-weight: 700;
      color: #000;
      text-indent: 58px;
      padding: 17px 0 0 0;
    }
    .button-bg-main{
      font-family: 'Lato Light', sans-serif;
      font-size: 11px;
      color: #f9f8f5;
      background-color: transparent;
      border: 1px solid #f9f8f5;
      min-height:40px;
      margin: 26px 0 0 3px;
      width: 12.9%;
    }
    .button-bg-main:hover{
      background-color: #f9f8f5;
      color: #a90d29;
    }
  }
}


