.block-squares {
  text-align: center;
  .text-h {
    font-family: 'Lato Bold', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #444242;
  }
  .text {
    font-family: "Lato Regular", sans-serif;
    font-size: 14px;
    color: #444242;
  }
}