@mixin marginSq {
  margin: 10px 0 10px 0;
}

@mixin marginSpite {
  margin: 0 0 0 0;
}

@media(max-width: 1200px) {
  .block-squares {
    .div-squares {
      .second {
        .sq-4 {
          margin: 0 0 0 110px;
        }
        .sq-5 {
          text-align: center;
          margin-left: -9px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .bg-main{
    background-position: 0px 0px;
    .text-on-bg{
      top: 130px;
      left: 20px;
      text-align: -webkit-center;
      .text-1-bg{
        font-size: 10px;
      }
      .text-2-bg{
        text-indent: 0;
      }
    }
  }
  .block-squares {
    .div-squares {
      .row {
        .sq-2 {
          left: -68px;
        }
        .second {
          .sq-3 {
            margin: 0 0 0 110px;
          }
          .sq-4 {
            margin-left: 146px;
          }
          .sq-5 {
            margin-left: 59px;
          }
        }
      }
    }
  }
  .div-sprites {
    text-align: -webkit-center;
    .mobly, .marabaz, .arezzo, .vivara, .aquestir, .staples, .farma, .fast, .xiomi, .enjoei {
      margin: 0 0 0 0;
    }
    .mobly:hover, .marabaz:hover, .arezzo:hover, .vivara:hover, .aquestir:hover, .staples:hover, .farma:hover, .fast:hover, .xiomi:hover, .enjoei:hover {
      margin: 0 0 0 0;
    }
    .text-sprites {
      margin: 20px 0 20px 0;
    }
  }
  footer {
    .container-footer {
      padding: 50px 30px 30px 30px;
      .div-list-second {
        margin: 30px 0 0 0;
        .div-list-content {
          padding: 20px 0 0 40px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .bg-main{
    background-position: 0px 0px;
    height: 550px;
    .text-on-bg{
      top: 130px;
      left: 20px;
      text-align: -webkit-center;
      .text-1-bg{
        font-size: 10px;
      }
      .text-2-bg{
        text-indent: 0;
      }
    }
  }
  .block-squares {
    .div-squares {
      margin-top:2%;
      .row {
        .sq-2 {
          text-align: -webkit-left;
          bottom: 0;
          left: 0;
        }
        .enext-em {
          position: relative;
          top: 0;
          left: 0;
        }
        .second {
          margin-bottom: 10px;
          .sq-3 {
            float: none;
            margin: 20px auto;
            text-align: -webkit-center;
          }
          .sq-4 {
            margin: 0 0 0 0;
            top: 0;
            text-align: -webkit-right;
          }
          .sq-5 {
            margin: 0 0 0 0;
            right: 0;
            bottom: 0;
            width: 50%;
          }
        }
      }
    }
  }
  .div-sprites {
    text-align: -webkit-center;
    .mobly, .marabaz, .arezzo, .vivara, .aquestir, .staples, .farma, .fast, .xiomi, .enjoei {
      margin: 0 0 0 0;
    }
    .mobly:hover, .marabaz:hover, .arezzo:hover, .vivara:hover, .aquestir:hover, .staples:hover, .farma:hover, .fast:hover, .xiomi:hover, .enjoei:hover {
      margin: 0 0 0 0;
    }
    .text-sprites {
      margin: 20px 0 20px 0;
    }
  }
  footer {
    .container-footer {
      padding: 50px 30px 30px 30px;
      .div-list-second {
        margin: 30px 0 0 0;
        .div-list-content {
          padding: 20px 0 0 25px;
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .bg-main{
    background-position: 0px 0px;
    .text-on-bg{
      top: 130px;
      left: 20px;
      text-align: -webkit-center;
      .text-1-bg{
        font-size: 10px;
      }
      .text-2-bg{
        text-indent: 0;
      }
    }
  }
  .block-squares {
    .div-squares {
      margin-top: 4%;
      .row {
        .sq-1 {
          text-align: -webkit-center;
          @include marginSq;
        }
        .sq-2 {
          text-align: -webkit-center;
          bottom: 0;
          left: 0;
          @include marginSq;
        }
        .enext-em {
          position: relative;
          left: 0;
        }
        .second {
          margin-bottom: 0;
          .sq-3 {
            text-align: -webkit-center;
            @include marginSq;
            margin: 10px auto;
            float: none;
            width: 199px;
          }
          .sq-4 {
            text-align: -webkit-center;
            @include marginSq;
            top: 0;
          }
          .sq-5 {
            @include marginSq;
            right: 0;
            bottom: 0;
            width: 100%;
            text-align: -webkit-center;

          }
        }
      }
    }
  }
  .div-sprites {
    text-align: -webkit-center;
    .mobly, .marabaz, .arezzo, .vivara, .aquestir, .staples, .farma, .fast, .xiomi, .enjoei {
      margin: 0 0 0 0;
    }
    .mobly:hover, .marabaz:hover, .arezzo:hover, .vivara:hover, .aquestir:hover, .staples:hover, .farma:hover, .fast:hover, .xiomi:hover, .enjoei:hover {
      margin: 0 0 0 0;
    }
  }
  footer {
    .container-footer {
      padding: 0 30px;
      .div-list {
        padding: 0;
        float: none;
        margin: 20px 0 0 0;
        button {
          margin: -3px 0px;
          padding: 0;
          color: #444242;
          font-size: 18px;
        }
        .nav {
          padding: 0;
          margin: 0;
        }
        .div-small-sprites {
          margin: 10px 0 0 0;
        }
      }
      .div-list:before {
        top: -5px;
        height: 4px;
      }
      .div-list:nth-child(3) {
        padding: 0;
      }
      .div-list:nth-child(5) {
        height: 17px;
      }
      .div-list-second {
        margin: 0 0 0 0;
        .div-list:nth-child(7) {
          padding: 20px 0 0 25px;
        }
      }
    }
  }
}